/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Resets that should be done for each design */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px
}

.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom, 
    rgba(126, 213, 111, 0.8), 
    rgba(40,180,131,0.8)), 
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  /* sets the position to absolute relative to the parent container whose
     position is set to relative. In this case the logo-box is being positioned
     absolute within the .header element */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  /* By setting the height, the images width will scale accordingly */
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* center all text elements within the box. This includes the button that says "DISCOVER OUR TOURS" */
  text-align: center;
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;

  /* hack to fix animation shake  */
  backface-visibility: hidden;

  /* margin between the header text and the button */
  margin-bottom: 60px;
}

.heading-primary-main {
  /* Since this is a span property, by default it is an inline block element. */
  /* To take up the entire line on its own, set the display prop to block */
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  
}

.heading-primary-sub {
  /* Since this is a span property, by default it is an inline block element. */
  /* To take up the entire line on its own, set the display prop to block */
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* Shorthand way of specifying animation-name, animation-duration, and animation-timing-function */
  animation: moveInRight 1s ease-out;
}

/* Can name this whatever */
@keyframes moveInLeft {
  /* When the animation starts */
  0% {
    opacity: 0;
    /* have the element start 100px to the left from where it will be positioned */
    transform: translateX(-100px);
  }

  80% {
    /* moves a little further right than the final position */
    /* gives a bounce back effect */
    transform: translateX(10px);
  }

  /* When the animation finishes */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}



@keyframes moveInRight {
  /* When the animation starts */
  0% {
    opacity: 0;
    /* have the element start 100px to the left from where it will be positioned */
    transform: translateX(100px);
  }

  80% {
    /* moves a little further right than the final position */
    /* gives a bounce back effect */
    transform: translateX(-10px);
  }

  /* When the animation finishes */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
/* Make the visited and unvisited states look the same */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;

/* shorthand for applying padding: 15px(top & bottom) 40px(left and right) */
  padding: 15px 40px;
  display: inline-block;

  /* round out edges of the button */
  border-radius: 100px;

  /* make all transitions take 0.2seconds */
  transition: all 0.2s;
}

.btn:hover {
  /* Y-axis moves from top to bottom. This button should move slightly upwards on hover so the param is negative */
  transform: translateY(-3px);

  /* x-value, y-value, blur, color */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* occurs when the button is clicked */
.btn:active {
  /* gives the effect that the button is being clicked in */
  transform: translateY(-1px);

  /* adjust the shadow slightly so that it makes clicking seem more physical */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}