
.row {
  //1140px is a popular modern choice for max width of a grid.
  max-width: $grid-width; //114rem is equivalent to 1140px in our case. since root pixel size is 10px.
  background-color: #eee;

  // shortcut for center block elements within another block element.
  margin: 0 auto;

  // apply the vertical gutter spacing to every child element except the last-child.
  &:not(:last-child){
    margin-bottom: $gutter-vertical;
  }

  .col-1-of-2 {
    width: calc();
  }
}