.navigation {
  &__checkbox {
    display: none;
  }

  //white hamburger navigation button that sits in front of the green background
  &__button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 12;

  }

  //green circle that hides behind the navigation hamburger circle
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;

    //place this element in the top right corner of the screen in a fixed position.
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 10;

    transform: scale(80);

    //radial gradient works from center of element outwards
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
  }

  //takes up the entire viewport when active
  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
  }

  // centered within the __nav
  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;text-align: center;
  }

  &__item {
    //space out each item
    margin: 1rem;

  }

  &__link {

    

    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 2rem;

      //start of animation
      background-size: 230%;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
      transition: all .4s;
    }

    span{
      display: inline-block;
      margin-right: 1.5rem;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }

    

  }

}