.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .20;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;

    // similar to background-size: cover. Makes the content fill the entire parent element while
    // maintaining it's aspect ratio.
    object-fit: cover;

  }
}