.story {
  width: 75%;
  // margin-left: auto;
  // margin-right: auto;
  // margin-bottom: 7rem;
  // margin-top: 0rem;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &:not(:last-child) {
    margin-bottom: 7rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;

    //shape-outside determines how text and surrounding elements flow in respect to this element. We are 
    // making the shape-outside a circle so text will avoid this element as if it were a circle.
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    // here the actual circle is formed. 
    //arguments to circle() -> radius at {position-x} {position-y}
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    
    // move the element away from its surrounding text. Better to use transform,translate when moving
    // a floated element.
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.7rem;
    //initially the caption should be invisible. It will be visible on hover
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;

  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-4rem) scale(1);

    filter: blur(3px) brightness(80%);
  }
}