.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  font-size: $default-font-size;

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: orangered;

    //shape-outside determines how text and surrounding elements flow in respect to this element. We are 
    // making the shape-outside a circle so text will avoid this element as if it were a circle.
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    // here the actual circle is formed. 
    //arguments to circle() -> radius at {position-x} {position-y}
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}