/* Can name this whatever */
@keyframes moveInLeft {
  /* When the animation starts */
  0% {
    opacity: 0;
    /* have the element start 100px to the left from where it will be positioned */
    transform: translateX(-10rem);
  }

  80% {
    /* moves a little further right than the final position */
    /* gives a bounce back effect */
    transform: translateX(1.75rem);
  }

  /* When the animation finishes */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}



@keyframes moveInRight {
  /* When the animation starts */
  0% {
    opacity: 0;
    /* have the element start 100px to the left from where it will be positioned */
    transform: translateX(10rem);
  }

  80% {
    /* moves a little further right than the final position */
    /* gives a bounce back effect */
    transform: translateX(-1rem);
  }

  /* When the animation finishes */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}