/* Resets that should be done for each design */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  /* by default this propert does not inherit. This will force all elements to inherit the box-sizing property from their
     parent element (in most cases the body element) */
  box-sizing: inherit;
}

/* Changing root font size. Assumes browsers have a default font-size of 16px.
   62.5% of 16px gives a base font-size of 10px */
html {
  font-size: 62.5%; //1rem = 10px since 10px/16px = 62.5%

  @include respond(big-desktop) {
    font-size: 75%;     //1rem = 12px. 12px/16px = 75%
  }
  
  @include respond(tab-land) {
    font-size: 56.25%;   // 1rem = 9px, 9px/16px = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%;   // 1rem = 8px, 8px/16px = 50%
  }

  
}

body {
  box-sizing: border-box;
}
