.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  // bring this section closer to the header so that it is flush
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;

  //linear gradient background. Similar to the one found in layout/_header.scss;
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.8), 
    rgba($color-primary-dark,0.8)), 
    url(../img/nat-4.jpg);
  background-size: cover;
  
}